
    @import url('https://fonts.googleapis.com/css2?family=Allkin&family=Archivo+Black&family=Bpmf+Zihi+Kai+Std&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
    *{
        padding: 0;
        margin: 0;
        border-bottom: 0;

    }
        body {
            background-color: black;
        }
        header {
            padding: 32px;
            border-bottom: 1px solid rgb(27, 27, 27);
            background-color: rgb(0, 0, 0);
            border-bottom: 2px solid white;
        }
        header div {
            text-align: center;
        }
        header div a{
            color: white;
            text-decoration: none;
            font-size: 24px;
            font-family: "Roboto", sans-serif;
            margin: 0 16px;
        }
        
        header div a:hover {
                color: rgb(255, 94, 0);
                text-decoration: underline;
                transition: 700ms;
            }
            

            h1 {
                color: white;
                font-family: "Allkin", cursive;
                text-align: center;

            }

            h2 {
                color: white;
                font-family: "Bpmf Zihi Kai Std", cursive;
                text-align: center;
            }

            p {
                color: white;
                font-family: "Archivo Black", sans-serif;
                text-align: center;
            }
            .container {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
            }

            #box img {
            scale: 100%;
            border-radius: 50%;
            border: 3px solid white;
            }

            #box {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 16px;
                margin-top: 20px
            }

            #linksnaruto {
            text-align: center;
            font-size: 24px;
            }

            #linksnaruto a {
            color: white;
            border-bottom: 3px solid rgb(255, 81, 0);
            text-decoration: none;
            font-family: "Roboto", sans-serif;
            margin: 0 16px;
            }

            #linksnaruto a:hover {
            color: rgb(255, 94, 0);
            transition: 700ms;
        }

        #linksnaruto {
            margin-top: 20px;
        }










            

            


