    <style> 
    @import url('https://fonts.googleapis.com/css2?family=Allkin&family=Archivo+Black&family=Bpmf+Zihi+Kai+Std&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
    *{
        padding: 0;
        margin: 0;
        border-bottom: 0;

    }
        body {
            background-color: black;
        }
        header {
            padding: 32px;
            border-bottom: 1px solid rgb(27, 27, 27);
            background-color: rgb(0, 0, 0);
        }
        header div {
            text-align: center;
        }
        header div a{
            color: white;
            text-decoration: none;
            font-size: 24px;
            font-family: "Roboto", sans-serif;
            }
            header div a:hover {
                color: rgb(0, 255, 21);
                transition: 700ms;
            }
    </style>